<div class="comments">
  {{#each this}}
  <div class="table is-striped">
  <section class="comment p-2 has-background-light">
    <div class="meta has-text-grey-light">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  </div>
  {{/each}}
</div>