<article class="post">
      <div class = "content">
        <p class="is-family-primary">User Name: <span class="has-text-weight-medium">{{posts.[0].user.username}}</span></p>
        <p class="is-family-primary">Posts: <span class="has-text-weight-medium">{{posts.length}}</span></p>
        <div class="buttons">
        <a class="button is-warning" href="/dashboard/edituser">Edit My Info</a>
        </div>
      </div>
    </article>