<div class="columns">
  <div class = "column is-6 is-offset-2">
    <div class="is-size-3 p-2 has-text-weight-medium">Create New Post</div>

    <form class="box new-post-form">
      <div class="field">
        <label class="label" for="post-title">Title</label>
        <input class="input" type="text" id="post-title" name="post-title" placeholder="Title of post"/>
      </div>
      <div class="field">
        <label class="label" for="post-text">Text</label>
        <textarea class="textarea" id="post-text" name="post-text" placeholder="Insert text here"></textarea>
      </div>
      <div class="control mt-3">
      <button class="button is-primary btn" type="submit">Create</button>
      </div>
    </form>
  </div>


  <div class="column is-2">
    <div class="is-size-3 p-2 has-text-weight-medium">About Me</div>
      <div class="box">
      {{> user-info}}
    </div>
  </div>
</div>



{{#if posts.length}}
<div class="columns">
  <div class="column is-8 is-offset-2 mt-4">
    <div class="is-size-3 p-2 has-text-weight-medium">Your Posts</div>
    <ul>
      {{#each posts as |post|}}
      <div class="box">
      <li>
        {{> post-info post}}
        <div class="buttons">
        <a class="button is-warning mt-4" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </div>
      </li>
      </div>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}

<!--Script to add a post-->
<script src="/javascript/add-post.js"></script>