<div class="column is-4 is-offset-4">
  <form class="box login-form">
    <div class="field">
      <label class="label" for="email-login">Email:</label>
      <div class="control">
        <input class="input" type="email" id="email-login" placeholder="e.g. name@example.com" />
      </div>
    </div>

    <div class="field">
      <label class="label" for="password-login">Password:</label>
      <div class="control">
        <input class="input" type="password" id="password-login" placeholder="**********" />
      </div>
    </div>

    <div>
      <button class="button is-primary" type="submit">Login</button>
    </div>
  </form>

  <div class="has-text-centered">
    <a class="" href="/signup">Need to sign up instead?</a>
  </div>
</div>

<script src="/javascript/login.js"></script>