<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth mt-4">
    <div class="box">
      <div class="mb-6">
        {{> post-info post}}
      </div>
      {{#if loggedIn}}
      <form class="comment-form">
        <div class="field">
          <textarea class="textarea mt-6" rows="4" name="comment-body"></textarea>
        </div>
        <div>
          <button class="button is-primary mt-4 mb-4" type="submit">Add Comment</button>
        </div>
      </form>
      {{/if}}

{{> comments post.comments}}

    </div>
  </div>
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}